/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../usr/local/Cellar/ruby/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../usr/local/Cellar/ruby/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../usr/local/Cellar/ruby/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../usr/local/Cellar/ruby/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../usr/local/Cellar/ruby/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../usr/local/Cellar/ruby/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../usr/local/Cellar/ruby/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../usr/local/Cellar/ruby/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../usr/local/Cellar/ruby/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/components/_post_box.scss */
#add-post-form {
  width: 600px;
  text-align: center;
  margin-left: 184px;
}

/* line 7, ../sass/components/_post_box.scss */
#id_image {
  float: left;
}

/* line 11, ../sass/components/_post_box.scss */
#submit-button {
  float: right;
}

/* line 1, ../sass/pages/_feed.scss */
.feed-body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

/* line 5, ../sass/pages/_feed.scss */
.nav-bar {
  padding: 15px 20px;
  background-color: #1bbc9b;
  color: #fff;
  font-size: 18px;
}

/* line 12, ../sass/pages/_feed.scss */
.feed-main-content {
  color: #383838;
  padding: 30px 120px;
  margin: 0 auto;
}

/* line 18, ../sass/pages/_feed.scss */
.feed-posts-box {
  margin-top: 30px;
}

/* line 22, ../sass/pages/_feed.scss */
.feed-post {
  margin: 15px 0;
}

/* line 26, ../sass/pages/_feed.scss */
.feed-post-icon {
  float: left;
  padding: 5px 15px 5px 0;
}

/* line 31, ../sass/pages/_feed.scss */
.feed-post-username {
  padding-top: 5px;
  font-size: 16px;
  color: #2C9680;
  margin-bottom: 5px;
}

/* line 38, ../sass/pages/_feed.scss */
.feed-post-media-content {
  padding: 10px 0;
}
