              <div class="feed-post">
                  <div class="feed-post-icon">
                     <img src="{{ post.user_icon_url }}" width="50" height="50"/>
                  </div>
                  <div class="feed-post-username">{{ post.user.first_name }} {{ post.user.last_name }}</div>
                  <div class="feed-post-note">{{ post.note }}</div>
                  <div class="feed-post-media-content">
                      {% if post.video %}
                      <iframe src="{{ post.video.url }}" width="500" height="241" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                      {% elif post.image %}
                      <img src="{{ post.image_url }}"/>
                      {% endif %}
                  </div>
              </div>

