<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Achieve.ly</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="{{ MEDIA_URL }}css/screen.css" rel="stylesheet">
  </head>
  <body class="feed-body">
      <div class="nav-bar">Achieve.ly</div>

      <form id="add-post-form" action="{% url home %}" method="POST">
        <div class="input-field">{{ form.note }}</div>
        <div class="input-field">{{ form.image }}</div>
        <input id="submit-button" type="submit" value="Post"/>
      </form>

      <div class="feed-main-content">
          <div class="feed-add-post-box">
              Here will be the input box
          </div>
          <div class="feed-posts-box">
              {% for post in posts %}
              <div class="feed-post">
                  <div class="feed-post-icon">
                     <img src="{{ MEDIA_URL }}{{ post.user_icon_url }}"/ width="50" height="50">
                  </div>
                  <div class="feed-post-username">{{ post.user.first_name }} {{ post.user.last_name }}</div>
                  <div class="feed-post-note">{{ post.note }}</div>
                  <div class="feed-post-media-content">
                      {% if post.video_url %}
                      <iframe src="{{ post.video_url }}" width="250" height="140" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                      {% elif post.image %}
                      <img src="{{ image.url }} width="100" height="100"/>
                      {% endif %}
                  </div>
              </div>
              {% endfor %}
          </div>
      </div>
  </body>
</html>
