<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="{{ MEDIA_URL }}css/screen.css" rel="stylesheet">
  </head>
  <body class="feed-body">
      <div class="nav-bar">Achieve.ly</div>

      <form id="add-post-form" action="{% url home %}" method="POST">
        <div class="input-field">{{ form.note }}</div>
        <div class="input-field">{{ form.image }}</div>
        <input id="submit-button" type="submit" value="Post"/>
      </form>

      <div class="feed-main-content">
          <div class="feed-add-post-box">
              Here will be the input box
          </div>
          <div class="feed-posts-box">
              <div class="feed-post">
                  <div class="feed-post-icon">
                     <img src="{{ MEDIA_URL }}img/henry.jpg"/ width="50" height="50">
                  </div>
                  <div class="feed-post-username">Henry Xie</div>
                  <div class="feed-post-note">getting dynamics better finally #polonaise</div>
                  <div class="feed-post-media-content">
                      <iframe src="http://player.vimeo.com/video/69909709?badge=0&amp;color=F3257A" width="250" height="140" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                  </div>
              </div>
          </div>
      </div>
  </body>
</html>
